<!DOCTYPE html>
<html>
<head>
  <title>Testfile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" style="padding-top:20px;">
<%= yield %>
  </div>
</body>
</html>
